.bluefond {
    background-image: url(https://i.imgur.com/1AkM6yd.png);
    width: 500px;
    height: 800px;
    margin: 0 auto;
}

.bluecentre {
    width: 480px;
    margin: 0 auto;
}

.triangle {
    display : inline-block;
    height : 0;
    border-bottom : 12px solid #CAD2C5;
    border-left : 480px solid transparent;
   }
/**************** HEADER ****************/

header {
    width: 500px;
    height: 80px;
    padding: 20px;
}

.bluetop {
    display: flex;
    flex-direction: row;
}

.bluepart {
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    text-align: left;
    padding: 25px 15px 15px 0px;
    margin-left: -15px;
    line-height: 80%;
}

.blueline {
    background-color: #fff;
    width: 80px;
    height: 1px;
    border: 0px #fff solid;
}

.bluetitle {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding-left: 20px;
}

/**************** TEXTE RP ****************/

.bluerp {
    width: 480px;
    height: 600px;
    overflow: auto;
    background-color: #CAD2C5;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

.bluerp p {
    font-family: 'Merriweather', serif;
    font-size: 11px;
    line-height: 90%;
    text-align: justify;
    text-justify: auto;
}

.bluerp::-webkit-scrollbar {
    width: 0px;
}

footer p {
    font-size: 8px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}