.background {
    background-image: url(https://i.imgur.com/RUVJ42a.png);
    background-repeat: repeat;
    width: 545px;
    margin: 0 auto;
    border-left: #ff8b5c solid 50px;
}

/******************** HEADER *******************/

header {
    width: 470px;
    margin: 0 auto;
}

.noah {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 0,400;
    color: #ff8b5c;
    line-height: 80%;
    padding-top: 10px;
}

/******************** INFOS *******************/

.boite1 {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.orange {
    width: 150px;
    height: 120px;
    background-color: #ff8b5c;
    padding: 25px 10px 10px 10px;
    box-sizing: border-box;
}

.infos {
    width: 375px;
    height: 115px;
    overflow: auto;
    box-sizing: border-box;
    padding: 5px 5px 5px 10px;
    text-align: justify;
    text-justify: auto;
    color: #d1dbbd;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.infos::-webkit-scrollbar {
    width:0px
}

.blanc { 
    color: #d1dbbd;
    opacity: 0.8;
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-weight: 0,800;
    text-transform: uppercase;
}

.italique {
    color: #d1dbbd;
    opacity: 0.8;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 0,400;
    text-transform: uppercase;
}

/******************** RECHERCHE *******************/

.orange2 {
    width: 200px;
    height: 120px;
    background-color: #ff8b5c;
    padding: 10px 15px 10px 10px;
    box-sizing: border-box;
}

.cherche {
    width: 375px;
    height: 115px;
    overflow: auto; 
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: justify;
    text-justify: auto;
    color: #d1dbbd;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.cherche::-webkit-scrollbar {
    width: 0px;
}

.boite2 {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}