a {
    text-decoration: none;
}

.map {
    width: 1200px;
    margin: 0 auto;
}

/************************* HEADER *************************/

header {
    height: 80px;
    background-color:#fff;
    width: 1062px;
    margin: 0 auto;
}

.mini {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}

.mo {
  flex-grow: 0;
}

nav {
    width: 985px;
    text-align: right;
    float: right;
    margin: 0 auto;
}

nav a {
    color:#626262;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    display: inline-block;
    width: 160px;
}

.mini h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
    margin-left: 140px;
}

/************************* WEEKEND *************************/

.box1 {
    width: 1062px;
    margin: auto;
}

.map h2 {
    color: #b4ad9e;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 5px 5px 0px;
}

.map h3 {
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    padding: 10px 10px 15px 0px;
}

.minibox1 {
    width: 950px;
    margin: 0 auto;
    padding: 60px 20px 20px 20px;
}

.minibox1 p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #626262;
}

.box1 a {
    color: #b4ad9e;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    text-transform: uppercase;
}

/************************* MISE EN PAGE DOUBLE *************************/

.minibox2 {
    width: 950px;
    margin: 0 auto;
    padding: 60px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box3 {
    width: 475px;
    margin: 0 auto;
    padding: 5px 5px 5px 0px;
}

.box3 p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #626262;
    width: 420px;
}

/************************* NEWSLETTER *************************/

.map h4 {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #333333;
    padding-bottom: 10px;
}

.newsletter {
    width: 1200px;
    margin: 0 auto;
    background-color: #f0f0f0;
    height: 250px;
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
}

button {
    border: none;
}

input {
    background-color: #f0f0f0;
    border: none;
    width: 350px;

}

.map hr {
    width: 410px;
    background-color: black;
}

/************************* BOUTON LOAD MORE *************************/

.loadmore {
    width: 1062px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    padding-right: 50px;
}



.loadmore button {
    background-color: #fff;
    border: solid 1px #333333;
    color: #333333;
    padding: 5px 5px 5px 5px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    width: 200px;
    height: 60px;
}


.blank {
    height: 400px;
    width: 1200px;
}

/************************* FOOTER *************************/

.map footer {
    background-color: #f0f0f0;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: bold;
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

